{{- $author := dict "@type" "Person" "name" .Site.Params.Author }}
{{- $description := .Description | default .Site.Params.metaDescription | default .Site.Params.description | plainify }}
{{- $schemaType := cond .IsPage "BlogPosting" "WebPage" }}
<script type="application/ld+json">
{
    "@context" : "https://schema.org",
    "@type" : {{ $schemaType }},
    "mainEntityOfPage": {
         "@type": "WebPage",
         "@id": {{ .Permalink }}
    },
    "name" : "{{ .Title }}",
    "headline" : "{{ .Title }}",
    "description" : {{ $description }},
    "inLanguage" : "{{ .Site.LanguageCode }}",
    "author": {{ $author }},
    "creator": {{ $author }},
    "publisher": {{ $author }},
    "url" : {{ .Permalink }}{{ if .IsPage }},
    "articleSection" : "{{ .Section }}",
    "copyrightYear" : "{{ .Date.Format "2006" }}",
    "datePublished": "{{ .Date }}",
    "dateModified" : "{{ .Date }}",
    "wordCount" : {{ .WordCount }},
    "keywords" : [ {{ if isset .Params "tags" }}{{ range .Params.tags }}"{{ . }}",{{ end }}{{ end }}"Blog" ]{{ end }}
}
</script>
